@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.font-poppines {
    font-family: "Poppines", sans-serif;
    font-weight: 400;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #ffffff;
    --hero-color: #3A3A3A;
    --primary-color: #E02C6D;
    --text-grey: #18191F;
}


/* shared styles */
button {
    cursor: pointer;
    padding: 10px 24px;
    border: none;
    font-size: 16px;
    font-weight: 700;
}

.button-primary {
    background-color: var(--primary-color);
    color: var(--white);
}

.button-primary:hover {
    background-color: darken(var(--primary-color), 10%);
    transform: translateY(-2px);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    margin-bottom: 100px;
}


/* navigation section style */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 120px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--white);
}

.logo h3 {
    color: var(--hero-color);
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.125rem;
}

.nav-list .nav-item {
    color: var(--hero-color);
    font-size: 1rem;
    font-weight: 600;
    transition: .3s ease-in-out all;
}

.nav-list li:hover .nav-item {
    color: var(--primary-color);
}

/* Hamburger icon */
.hamburger {
    display: none;
    /* desktop hide */
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--hero-color);
    border-radius: 2px;
    transition: 0.3s;
}

/* Mobile menu */
@media (max-width: 992px) {
    .navigation {
        padding: 2rem 5%;
    }

    .nav-list {
        position: fixed;
        top: 0;
        right: -100%;
        /* hide offscreen */
        width: 60%;
        height: 100vh;
        background-color: var(--white);
        flex-direction: column;
        gap: 2rem;
        padding: 4rem 2rem;
        transition: 0.3s;
        z-index: 9999;
    }

    .nav-list.active {
        right: 0;
        /* show menu */
    }

    .hamburger {
        display: flex;
        /* show hamburger */
    }
}


/* hero section style */
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-container > * {
    color: var(--hero-color);
}

.banner-container .banner-content {
    max-width: 582px;
}

.banner-content h2 {
    font-size: 52px;
    line-height: 70px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.banner-content p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.banner-container button {
    border-radius: 41px;
    display: flex;
    gap: .5rem;
}

.banner-container .banner-image {
    background-image: url('../images/Circle\ design.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 475px;
    height: 475px;
}

.banner-image img {
    width: 100%;
}


/* sponsor section styles */
#sponsor .sponsor-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}





/*======================================
responsive design styles
======================================*/
/* small device */
@media screen and (max-width: 576px) {
    .banner-container {
        flex-direction: column-reverse;
    }
}