@import url('https://fonts.googleapis.com/css2?family=Poppines:ital,wght@0,100..900;1,100..900&display=swap');

.font-poppines {
    font-family: "Poppines", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --white: #ffffff;
    --hero-color: #3A3A3A;
    --primary-color: #E02C6D;
    --text-grey: #18191F;
}


/* shared styles */
button {
    cursor: pointer;
    padding: 10px 24px;
    border: none;
    font-size: 16px;
    font-weight: 700;
}

.button-primary {
    background-color: var(--primary-color);
    color: var(--white);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}


/* navigation section style */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 120px;
}

.logo h3 {
    color: var(--hero-color);
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.125rem;
}

.nav-list .nav-item {
    color: var(--hero-color);
    font-size: 1rem;
    font-weight: 600;
}