@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.font-poppines {
    font-family: "Poppines", sans-serif;
    font-weight: 400;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #ffffff;
    --hero-color: #3A3A3A;
    --primary-color: #E02C6D;
    --text-grey: #18191F;
}

.transition {
    transition: .4s ease-in-out all;
}


/* shared styles */
.button {
    cursor: pointer;
    padding: 10px 24px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.button-primary {
    background-color: var(--primary-color);
    color: var(--white);
}

.button-primary:hover {
    transform: scale(1.1);
}

.button-transparent {
    background-color: transparent;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 700;
    float: right;
}

.button-transparent:hover {
    gap: 15px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    margin-bottom: 100px;
}

.section-footer {
    padding: 50px;
    text-align: end;
}

.menu-toggle {
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}


/* navigation section style */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 120px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--white);
}

.logo h3 {
    color: var(--hero-color);
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.125rem;
}

.nav-list .nav-item {
    color: var(--hero-color);
    font-size: 1rem;
    font-weight: 600;
    transition: .3s ease-in-out all;
}

.nav-list li:hover .nav-item {
    color: var(--primary-color);
}

.responsive-cart-icon,
.menu-toggle {
    display: none;
}

/* Hamburger icon */
.hamburger {
    display: none;
    /* desktop hide */
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--hero-color);
    border-radius: 2px;
    transition: 0.3s;
}

.active {
    height: initial !important;
    padding: 1.5rem 0;
}

/* hero section style */
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-container > * {
    color: var(--hero-color);
}

.banner-container .banner-content {
    max-width: 582px;
}

.banner-content h2 {
    font-size: 52px;
    line-height: 70px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.banner-content p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.banner-container .button {
    border-radius: 41px;
    display: flex;
    gap: .5rem;
}

.banner-container .banner-image {
    background-image: url('../images/Circle\ design.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/* sponsor section styles */
#sponsor .sponsor-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 60px;
    justify-items: center;
    cursor: pointer;
}

.sponsor-container img:hover {
    transform: translateY(-10px);
}


/* popular-collection section styles */
#popular-collection .section-heading {
    color: var(--hero-color);
    font-size: 28px;
    line-height: 70px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

#popular-collection .popular-collection-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.popular-collection-content .product-card {
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 18px 16px;
    cursor: pointer;
    overflow: hidden;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-card img {
    margin-bottom: 16px;
}

.product-card .product-name {
    color: #18191F;
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 6px;
}

.product-card .product-price {
    font-family: Inter;
    line-height: 150%;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
}

.product-card .star {
    display: flex;
    align-items: center;
    gap: 8px;
}

.product-card .rating {
    color: #5E6366;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
}

.product-card .icon {
    font-size: 25px;
    color: #FB8200;
    position: relative;
    top: 5px;
}

.product-card .product-description {
    color: #787885;
    font-size: 14px;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 1.8%;
}


/* featured product section styles */
#featured-product .featured-product-container {
    display: flex;
    align-items: center;
    gap: 96px;
}

.featured-content .section-heading {
    color: #0A0826;
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 1rem;
}

.featured-content .product-description {
    color: #6C6C6C;
    font-size: 1rem;
    font-weight: 700;
    line-height: 28px;
    max-width: 500px;
    margin-bottom: 1rem;
}


/* footer section related styles */
footer {
    background-color: #0A0826;
    padding: 50px 0;
}

footer .footer-container {
    max-width: 262px;
}

.footer-container .footer-content h2 {
    color: var(--white);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 3px;
    text-align: center;
}

.footer-container .footer-content .copyright {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #D9DBE1;
    text-align: center;
}

.footer-container .footer-social ul {
    display: flex;
    margin-top: 18px;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.footer-social ul li {
    background-color: var(--text-grey);
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social a {
    color: var(--white);
}




/*======================================
responsive design styles
======================================*/
/* small device */
@media screen and (max-width: 576px) {
    section {
        margin-bottom: 60px;
    }

    .cart-icon {
        display: none;
    }
    
    .responsive-cart-icon,
    .menu-toggle {
        display: block;
    }

    .navigation {
        padding: 1rem;
        flex-direction: row-reverse;
    }

    .nav-list {
        height: 0px;
        overflow: hidden;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: var(--white);
        gap: 1.2rem;
        transition: .3s ease-in-out all;
    }

    .banner-container,
    .featured-product-container {
        flex-direction: column-reverse;
    }
    
    .banner-container {
        gap: 14px;
    }

    .banner-content,
    .featured-content {
        text-align: center;
    }

    .banner-content h2 {
        font-size: 30px;
        line-height: 48px;
    }

    .banner-content .button,
    .featured-content .button {
        margin: 0 auto;
    }

    #sponsor .sponsor-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 0px 40px;
    }

    #popular-collection .section-heading {
        margin-bottom: 20px;
    }

    #popular-collection .popular-collection-content {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 20px;
    }

    .section-footer {
        padding: 32px 0px;
    }

    #featured-product .featured-product-container {
        gap: 30px;
    }

    .featured-content .section-heading {
        line-height: 45px;
    }

    .featured-content .product-description {
        padding: 0 1rem;
        margin-bottom: 2.5rem;
    }

    .featured-image {
        padding: 0px 30px;
    }
}

/* medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    section {
        margin-bottom: 60px;
    }

    .cart-icon {
        display: none;
    }

    .responsive-cart-icon,
    .menu-toggle {
        display: block;
    }

    .navigation {
        padding: 1rem;
        flex-direction: row-reverse;
    }

    .nav-list {
        height: 0px;
        overflow: hidden;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: var(--white);
        gap: 1.2rem;
        transition: .3s ease-in-out all;
    }

    .banner-container,
    .featured-product-container {
        flex-direction: column-reverse;
    }

    .banner-container {
        gap: 14px;
    }

    .banner-content,
    .featured-content {
        text-align: center;
    }

    .banner-content h2 {
        font-size: 30px;
        line-height: 48px;
    }

    .banner-content .button,
    .featured-content .button {
        margin: 0 auto;
    }

    #sponsor .sponsor-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 0px 40px;
    }

    #popular-collection .section-heading {
        margin-bottom: 20px;
    }
    
    #popular-collection .popular-collection-content {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 20px;
    }

    .section-footer {
        padding: 32px 0px;
    }

    #featured-product .featured-product-container {
        gap: 30px;
    }

    .featured-content .section-heading {
        line-height: 45px;
    }

    .featured-content .product-description {
        padding: 0 1rem;
        margin-bottom: 2.5rem;
    }

    .featured-image {
        padding: 0px 30px;
    }
}