@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.font-work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 1rem;
    line-height: 26px;
}

.display-flex {
    display: flex;
}

.text-primary {
    color: #FF900E !important;
}

/* dark 02 */
.text-gray {
    color: #424242 !important;
}

/* dark 03 */
.text-light-gray {
    color: #727272 !important;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.button-primary {
    background-color: #FF900E;
    padding: 20px 25px;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

nav,
.container {
    margin: 0 auto;
    max-width: 1450px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;

}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

.section-title {
    color: #131313;
    font-size: 2.813rem;
    font-weight: 700;
}

.fact-description {
    max-width: 540px;
}


/* navbar related styles */
header {
    padding-top: 3.125rem;
}

.navigation {
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 3rem;
    font-weight: 700;
}

.nav-list {
    gap: 30px;
}

.nav-item {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}


/* banner related styles */
.banner-content {
    max-width: 850px;
    margin: 100px auto 50px;
    text-align: center;
}

.banner-content .banner-heading {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 2rem;
}

.banner-description {
    margin-bottom: 2rem;
}

.banner-image {
    margin-bottom: 45px;
    width: 100%;
}


/* quick feature related styles */
#quick-feature .container {
    align-items: center;
    gap: 130px;
}

.quick-feature-content {
    max-width: 530px;
}

.quick-feature-content .section-title {
    margin-bottom: 24px;
}

.quick-feature-content p {
    margin-bottom: 2rem;
}

.quick-feature-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

#quick-list {
    font-weight: 500;
}


/* enjoy feature section styles */
.enjoy-feature-container {
    gap: 55px;
}

.enjoy-feature-content .section-title {
    padding-left: 20px;
    border-left: 5px solid #FF900E;
    margin-bottom: 24px;
}

.enjoy-feature-content .feature-card-container {
    margin-top: 30px;
}

.enjoy-feature-container .feature-card {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.feature-card .feature-title {
    font-size: 20px;
    font-weight: 600;
    color: #131313;
    margin-bottom: 10px;
}



/*=====================================
responsive design styles
=====================================*/
/* small device */
@media screen and (max-width: 576px) {
    .section-title {
        font-size: 2.5rem;
    }

    .menu-toggle {
        display: block;
    }

    nav,
    .container {
        width: 90%;
    }

    header {
        padding-top: 1.5rem;
    }

    .navbar-brand {
        font-size: 2rem;
    }

    .nav-list {
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        gap: 1.2rem;
        transition: .3s ease-in-out all;
        text-align: center;
        background-color: #000000;
        padding: 1.5rem;
        display: none;
    }

    .banner-content .banner-heading {
        font-size: 2rem;
    }

    #quick-feature .container {
        flex-direction: column;
        gap: 50px;
    }

    #quick-feature .quick-feature-image {
        grid-template-columns: 1fr;
    }
}

/* medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .menu-toggle {
        display: block;
    }

    nav,
    .container {
        width: 90%;
    }

    header {
        padding-top: 1.5rem;
    }

    .navbar-brand {
        font-size: 2rem;
    }

    .nav-list {
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        gap: 1.2rem;
        transition: .3s ease-in-out all;
        text-align: center;
        background-color: #000000;
        padding: 1.5rem;
        display: none;
    }
    
    .banner-content .banner-heading {
        font-size: 2rem;
    }
    
    #quick-feature .container {
        flex-direction: column;
        gap: 50px;
    }
    
    #quick-feature .quick-feature-image {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .quick-feature-image img {
        width: 95%;
    }

    .quick-feature-content {
        max-width: 100%;
    }
}